<div class="container">
  @if (!signedIn) {
  <div class="card">
    <div class="content">
      <!-- Title -->
      <div class="title">Sign in</div>

      <!-- Alert -->
      @if (alert) {
      <div class="alert">{{ alert.message }}</div>
      }

      <!-- Sign in form -->
      <div class="form-container">
        <form [formGroup]="signInForm">
          <!-- Email field -->
          <div class="form-field">
            <label for="email">Email address</label>
            <input id="email" type="email" [formControlName]="'email'" />
            @if (signInForm.get('email')?.hasError('required')) {
            <div class="error">Email address is required</div>
            } @if (signInForm.get('email')?.hasError('email')) {
            <div class="error">Please enter a valid email address</div>
            }
          </div>

          <!-- Password field -->
          <div class="form-field password-field">
            <label for="password">Password</label>
            <input
              id="password"
              type="password"
              [formControlName]="'password'"
              #passwordField
            />
            <button
              type="button"
              (click)="
                passwordField.type =
                  passwordField.type === 'password' ? 'text' : 'password'
              "
            >
              @if (passwordField.type === 'password') {
              <span>Show</span>
              } @if (passwordField.type === 'text') {
              <span>Hide</span>
              }
            </button>
            <div class="error">Password is required</div>
          </div>

          <!-- Submit button -->
          <button
            class="submit-btn"
            [disabled]="signInForm.disabled"
            (click)="signIn()"
          >
            @if (!signInForm.disabled) {
            <span>Sign in</span>
            } @if (signInForm.disabled) {
            <div class="loading"></div>
            }
          </button>
        </form>
      </div>
    </div>
  </div>
  } @else {
  <div class="card">
    <div class="content">
      <!-- Title -->
      <div class="title">Congratulations! You have signed in.</div>
    </div>
  </div>
  }
</div>
